/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
.flex{
	display: flex;
}

body{
	font-family: Roboto;
	background-color: #E5DCDC;
}
.container {
	margin: 0 auto;
	max-width: 92%;
}
.container--header{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.header {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #fff;
}
.logo_header {
	display: flex;
}
.logo_header img{
	width: 48px;
	height: 36px;
}
.header-text{
	font-size: 26px;
	margin: 5px 0px 0px 0px;
}
.header-left {
	display: flex;
	margin: 3px 0px 0px 0px;
}
.search_header {
	border: 1px solid #000;
	border-radius: 4px;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	font-size: 16px;
	color: #000;
	box-sizing: border-box;
	margin: 0px 65px 0px 0px;
}
.search_header img:hover{
	transform: scale(0.8);
}
.burger_menu_btn{
	position: relative;
	z-index: 30;
	width: 40px;
	height: 40px;
	top: 13px;
	right: 13px;
}

.burger_menu__lines,
.burger_menu__lines::after,
.burger_menu__lines::before {
	position: absolute;
	width: 35px;
	height: 5px;
	display: block;
	background-color: #000;
}
.burger_menu__lines::after{
	content: "";
	top: -9px;
}
.burger_menu__lines::before{
	content: "";
	top: 9px;
}
.burger_menu_btn:hover .burger_menu__lines,
.burger_menu_btn:hover .burger_menu__lines::after,
.burger_menu_btn:hover .burger_menu__lines::before {
	background-color: #e1e1e1;
}
.header-line {
	z-index: 10;
	display: block;
	position: fixed;
	width: 100%;
	height: 5px;
	background-color: #000;
	margin: 80px 0px 0px 0px;
}
.burger_menu__nav{
	display: none;
	position: fixed;
	padding: 5% 0px 0px 0px;
	z-index: 20;
	height: 100%;
	background-color: #fff;
	overflow-y: auto;
	width: 480px;
	right: 0%;
	border: 1px solid #000;
	box-sizing: border-box;
}
.burger_menu__link{
	position: relative;
	display: block;	
	text-align: right;
	font-size: 28px;
	color: #000;
	padding: 0px 14px 7px 0px;
}
.burger_menu__link[href="#section1"]{
	padding: 33px 14px 7px 0px;
}
.burger_menu__link:hover{
	color: #777777;
}
.header-left__nav{
	margin: -70px 0 0 0;
	justify-content: flex-end;
}

/* header and burger menu */

.preview {
	padding: 95px 0 0 0;
	width: 100%;
	height: 585px;
	background: linear-gradient(92.66deg, #7000FF 0%, rgba(255, 0, 0, 0.69) 79.43%);
}
.preview_sub_text1 {
	display: block;
	font-size: 96px;
	font-weight: bold;
	position: absolute;
	margin: -150px 0px 0px 73px;
	color: #000;
}
.preview_sub_block {
	width: 960px;
	height: 105px;
	position: relative;
	background: #000000;
	overflow: hidden;
	margin: 130px 0px 0px 0px;
}
.preview_sub_text2 {
	display: block;
	position: absolute;
	font-size: 96px;
	font-weight: bold;
	z-index: 2;
	margin: -45px 0px 0px 73px;
	color: #FFFFFF;
}
.preview_diagram {
	width: 100%;
	position: relative;
	flex: 30%;
	transition: 0.5s;
	order: 1;
}
.preview_diagram:hover{
	transform: scale(1.05);
}
.preview_sub{
	transition: 0.5s;
}
.preview_sub:hover{
	transform: scale(1.05);
}
.preview_btn {
	border: 1px solid #FFFFFF;
	border-radius: 17px;
	width: 190px;
	height: 50px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	margin: 50px 0px 0px 0px;
	padding: 16px 15px;
	transition: 1s;
}
.preview_btn:hover{
	color: #fff;
	border: 0px;
	box-shadow: 0px 4px 0px #7E29D3;
	background: linear-gradient(88.97deg, #7B29FF -5.63%, #FF4343 142.05%);
}
.preview_prise {
	margin: 50px 0px 0px 20px;
	width: 120px;
	height: 50px;
	background: #8F1EAB;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.22), inset -2px -2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	font-weight: 500;
	font-size: 26px;
	color: #3FAA43;
	padding: 11px 30px;
}
.container--preview{
	display: flex;
	padding: 40px 0px 0px 0px;
}
.preview_flex{
	order: 2;
	flex: 70%;
	justify-content: start;
	margin: 0 0 0 70px;
}

/* preview */

.cards{
	width: 100%;
	height: 710px;
	background-color: #E5DCDC;
}	
.card--flex{
	margin: 45px 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav_cards1 {
	display: block;
	width: 493px;
	height: 620px;
	background: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: 0.5s;
}
.nav_cards1:hover,
.nav_cards2:hover,
.nav_cards3:hover{
	background: #EAEAEA;
	transform: scale(1.05);
}
.container--cards{
	display: flex;
}
.cards_img {
	width: 100%;
	height: 280px;
	border-radius: 10px;
}
.cards_title {
	padding: 8px 0px 36px 0px;
	font-size: 43px;
	text-align: center;
	color: #000000;
}
.cards_text {
	font-size: 21px;
	text-align: center;
	color: #000000;
	width: 448px;
	margin: 0 auto;
}
.cards_btn {
	margin: 40px auto;
	width: 190px;
	height: 50px;
	font-weight: 500;
	font-size: 29px;
	padding: 8px 16px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 17px;
	color: #000;
	transition: 1s;
}
.cards_btn:hover{
	color: #fff;
	border: 0px;
	box-shadow: 0px 4px 0px #7E29D3;
	background: linear-gradient(88.97deg, #7B29FF -5.63%, #FF4343 142.05%);
}
.cards_btn_buy{
	width: 93px;
	padding: 9px 16px;
}
.nav_cards2 {
	display: block;
	width: 493px;
	height: 620px;
	background: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: 0.5s;
}
.nav_cards3 {
	display: block;
	width: 493px;
	height: 620px;
	background: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: 0.5s;
}
.card_prise1 {
	position: absolute;
	margin: 40px 350px;
	font-weight: 500;
	font-size: 26px;
	color: #3FAA43;
	padding: 12px 35px;
	width: 120px;
	height: 50px;
	background: #A72424;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.22), inset -2px -2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
}
.card_prise2 {
	margin: 40px 350px;
	position: absolute;
	font-weight: 500;
	font-size: 26px;
	color: #3FAA43;
	background: #CEBD21;
	padding: 12px 30px;
	width: 120px;
	height: 50px;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.22), inset -2px -2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
}

/* cards */

.phrase {
	padding: 26px 0px;
	text-align: center;
	display: flex;
	width: 100%;
	height: 292px;
	justify-content: center;
	background: #0E2A44;
}
.logo_phrase {
	width: 135px;
	border-radius: 50%;
	border: 3px solid #fff;

}
.block_phrase{
	display: block;
	width: 77px;
	height: 3px;
	background-color: #fff;
	margin: 15px auto;
}
.text_phrase {
	font-size: 23px;
	color: #FFFFFF;
}
.name_phrase {
	font-size: 26px;
	color: #FFFFFF;
	margin: 15px auto;
}

/* phrase */

.about_us {
	width: 100%;
	height: 710px;
	display: flex;
}
.about_us_flex {
	order: 1;
	flex: 80%;
	margin: 43px 0 0px 10%;
}
.about_us_title {
	margin: 115px 0px 0px 0px;
	font-weight: 500;
	font-size: 52px;
	color: #000000;
}
.about_us_title::after{
	margin: 16px 0px;
	content: "";
	display: block;
	width: 113.33px;
	height: 6.67px;	
	background: #BD2599;
}
.about_us_text {
	margin: 30px 0px;
	font-weight: 500;
	font-size: 28px;
	color: #000000;
	width: 575px;
	height: 365px;
}
.about_us_img {
	order: 2;
	flex: 20%;
	display: block;
	width: 625px;
	height: 625px;
	margin: 43px 10% 0px 0px;
	filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
}

/* about us */

.html {
	width: 100%;
	height: 666px;
	background: linear-gradient(263.45deg, #7201FC -2.24%, #FF4F4F 102.27%);
}
.html--flex{
	justify-content: space-between;
}
.html_title {
	margin: 76px 0px 0px 0px;
	font-weight: bold;
	font-size: 59px;
	color: #FFFFFF;
}
.html_title::after{
	margin: 17px 0px 18px 2px;
	display: block;
	content: "";
	width: 160px;
	height: 7px;
	background: #9E19C6;
}
.html_text {
	width: 642px;
	font-weight: bold;
	font-size: 28px;
	color: #FFFFFF;
}
.html_btn {
	position: absolute;
	margin: 60px 0px;
	width: 190px;
	height: 50px;
	font-weight: 500;
	font-size: 29px;
	padding: 8px 16px;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 17px;
	color: #fff;
	transition: 1s;
}
.html_btn:hover{
	color: #fff;
	border: 0px;
	box-shadow: 0px 4px 0px #7E29D3;
	background: linear-gradient(88.97deg, #7B29FF -5.63%, #FF4343 142.05%);
}
.block_html {
	order: 2;
	display: flex;
	justify-content: center;
	position: relative;
	background: linear-gradient(111.36deg, #FF4F4F -6.46%, #7B05EF 100.47%);
	box-shadow: inset 4px 0px 22px rgba(0, 0, 0, 0.25);
	width: 60%;
	height: 666px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
.html_img {
	position: absolute;
	width: 100%;
	height: 50%;
	z-index: 1;
}
.html_logo {
	margin: 78px 0px;
	position: absolute;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.html--container{
	margin: 0px 0px 0px 4%;
	order: 1;
}
/* html */

.footer {
	width: 100%;
	height: 220px;
	background: #201B3E;
}
.container--footer{
	justify-content: space-between;
	display: flex;
	padding: 13px 0px 0px 0px;
}
.title_sub_footer {
	font-weight: 500;
	font-size: 32px;
	color: #FFFFFF;
}
.url_sub_footer {
	padding-top: 25px;
	display: block;
	font-size: 27px;
	color: #FFFFFF;
	transition: 0.5s;
}
.phone_footer:hover,
.email_footer:hover,
.url_sub_footer:hover{
	color: #777777;
}
.phone_footer{
	transition: 0.5s;
	display: block;
	font-size: 30px;
	color: #FFFFFF
}
.email_footer {
	transition: 0.5s;
	display: block;
	padding-top: 20px;
	font-size: 30px;
	color: #FFFFFF;
}
.name_footer {
	width: 690px;
	height: 180px;
	background: #FFFFFF;
	box-shadow: inset 4px 4px 9px rgba(0, 0, 0, 0.44);
	border-radius: 17px;
	font-size: 92px;
	color: #000000;
	padding: 34px 82px;
}

/* footer */

/* adaptation */

@media(max-width: 1700px){
	.burger_menu__link{
		padding: 0px 25px 7px 0px;
	}
	.burger_menu__link[href="#section1"]{
		padding: 33px 25px 7px 0px;
	}
	.preview_sub_text1 {
		font-size: 80px;
	}
	.preview_sub_block {
		width: 850px;
		height: 105px;
	}
	.preview_sub_text2 {
		font-size: 80px;
	}
	.preview_flex{
		order: 1;
		margin: 0 0 0 0px;
	}
	.preview_diagram {
		order: 2;
		margin: 3% 0px 0px 0px;
		width: 500px;
		height: 300px;
	}
	.container {
		max-width: 96%;
	}
	.header-left {
		margin: 3px 2% 0px 0px;
	}
	.html_img {
		height: 40%;
	}
	.burger_menu__nav{
		padding: 1% 0px 0px 0px;
	}
	.html--container{
		margin: 0px 0px 0px 2%;
	}
}
@media(max-width: 1600px){
	.nav_cards1,
	.nav_cards2,
	.nav_cards3 {
		width: 440px;
		height: 570px;
	}
	.cards_text {
		font-size: 18px;
		width: 90%;
	}
	.cards_btn {
		margin: 30px auto;
	}
	.card_prise1 {
		margin: 30px 0 0 300px;
	}
	.card_prise2 {
		margin: 30px 0 0 300px;
	}
	.about_us {
		margin: 5% auto 0 auto;
		max-width: 96%;
	}
	.about_us_flex {
		flex: 80%;
		margin: 0;
	}
	.about_us_img {
		flex: 20%;
		margin: 0;
	}
}

@media(max-width: 1420px){
	.cards{
		display: flex;
		height: 3200px;
		justify-content: center;
	}	
	.card--flex{
		display: block;
		width: 100%;
		margin: 0;
	}
	.nav_cards1,
	.nav_cards2,
	.nav_cards3 {
		margin: 5% 0;
		display: block;
		width: 900px;
		height: 1000px;
		background: #FFFFFF;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		transition: 0.5s;
	}

	.container--cards{
		display: flex;
	}
	.cards_img {
		height: 40%;
	}
	.cards_title {
		padding: 2% 0px 8% 0px;
		font-size: 70px;
	}
	.cards_text {
		font-size: 40px;
		width: 90%;
	}
	.cards_btn {
		margin: 40px auto;
		width: 40%;
		height: 8vh;
		font-size: 50px;
		padding: 1.2% 5%;
	}
	.cards_btn_buy{
		width: 14%;
		padding: 1.2% 1.7%;
	}
	.card_prise1,
	.card_prise2 {
		margin: 40px 650px;
		font-size: 50px;
		padding: 15px 55px;
		width: 200px;
		height: 80px;
	}
	.card_prise2{
		padding: 15px 45px;
	}
	.html_img {
		height: 30%;
	}
	.footer {
		display: flex;
		justify-content: center;
		height: 1100px;
	}
	.container--footer{
		display: block;
		padding: 3% 0px 0px 0px;
		text-align: center;
	}
	.title_sub_footer {
		font-size: 70px;
	}
	.url_sub_footer {
		padding-top: 2%;
		font-size: 50px;
	}
	.phone_footer{
		padding-top: 10%;
		font-size: 70px;
	}
	.email_footer {
		padding: 5% 0 10% 0;
		font-size: 70px;
	}
	.name_footer {
		width: 1000px;
		height: 300px;
		font-size: 130px;
		color: #000000;
		padding: 7% 10%;
	}
	.preview_diagram {
		flex: 30%;
		margin: 3% 0px 0px 0px;
		width: 300px;
		height: 300px;
	}
	.preview_flex{
		flex: 50%;
		justify-content: start;
	}
	.preview_sub_text1 {
		font-size: 60px;
		margin: -110px 0px 0px 50px;
	}
	.preview_sub_block {
		width: 600px;
		height: 80px;
	}
	.preview_sub_text2 {
		font-size: 60px;
		margin: -30px 0px 0px 50px;
	}
}

@media(max-width: 1300px){
	.about_us {
		order: 2;
		width: 100%;
		height: 1300px;
		display: flex;
		flex-direction: column;
		
	}
	.about_us_flex {
		text-align: center;
		flex: 50%;
		width: 100%;

	}
	.about_us_title {
		font-size: 70px;
	}
	.about_us_title::after{
		margin: 16px auto;
	}
	.about_us_text {
		margin: 30px auto;
		font-size: 40px;
		width: 80%;
	}
	.about_us_img {	
		margin: 0 auto;
		order: 1;
		flex: 20%;
		width: 600px;	
		height: 600px;	
	}
	.html_img{
		height: 150px;
	}
	.html_logo {
		width: 450px;
		height: 450px;
		margin: 15% auto;
		position: absolute;
	}
	.html--container{
		margin: 0px 0px 0px 2%;
	}
}
@media(max-width: 1150px){
	.html {
		width: 100%;
		height: 1350px;
		background: linear-gradient(263.45deg, #7201FC -2.24%, #FF4F4F 102.27%);
	}
	.html--flex{
		display: block;
	}
	.html_title {
		text-align: center;
		margin: 76px 0px 0px 0px;
		font-size: 59px;
	}
	.html_title::after{
		margin: 17px auto;
	}
	.html_text {
		text-align: center;
		width:80%;
		margin: 0 auto;
		font-size: 35px;
	}
	.html_btn {
		margin: 40px auto;
		position: relative;
		width: 250px;
		height: 70px;
		font-size: 35px;
		padding: 1.4% 2.5%;
		display: block;
		border-radius: 40px;
	}
	.block_html {
		width: 100%;
		height: 700px;
		clip-path: none;
	}
	.html_img {
		width: 100%;
		height: 50%;
	}
	.html_logo {
		width: 600px;
		height: 600px;
		margin: 78px 0px;
	}
	.html--container{
		margin: 0;
	}


	.preview {
		padding: 95px 0 0 0;
		width: 100%;
		height: 1300px;
		background: linear-gradient(92.66deg, #7000FF 0%, rgba(255, 0, 0, 0.69) 79.43%);
	}
	.preview_sub_text1 {
		font-size: 96px;
		position: absolute;
		margin: -280px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 960px;
		height: 105px;
		margin: 130px auto;
	}
	.preview_sub_text2 {
		display: block;
		position: absolute;
		font-size: 96px;
		font-weight: bold;
		z-index: 2;
		margin: -45px 0px 0px 73px;
		color: #FFFFFF;
	}
	.preview_diagram {
		order: 1;
		width: 800px;
		position: relative;
		margin: 30px auto;
	}
	.preview_sub{
		transition: 0.5s;
	}
	.preview_btn {
		display: block;
		border-radius: 40px;
		width: 300px;
		height: 70px;
		font-size: 26px;
		margin: 50px auto;
		padding: 20px;
	}
	.preview_prise {
		margin: 50px auto;
		width: 150px;
		height: 60px;
		border-radius: 40px;
		font-size: 35px;
		padding: 10px 35px;
	}
	.container--preview{
		justify-content: center;
		display: flex;
		flex-direction: column;
		padding:0px;
	}
	.preview_flex{
		order: 2;
		flex: 100%;
		justify-content: center;
		width: 100%;
	}
	.flex--preview_btn{
		display: block;
		width: 100%;
	}
}

@media(max-width: 1075px){
	.footer {
		display: flex;
		justify-content: center;
		height: 700px;
	}
	.container--footer{
		display: block;
		padding: 3% 0px 0px 0px;
		text-align: center;
	}
	.title_sub_footer {
		font-size: 70px;
	}
	.url_sub_footer {
		padding-top: 2%;
		font-size: 50px;
	}
	.phone_footer{
		padding-top: 10%;
		font-size: 40px;
	}
	.email_footer {
		padding: 2% 0 10% 0;
		font-size: 40px;
	}
	.name_footer {
		width: 500px;
		height: 200px;
		font-size: 70px;
		color: #000000;
		padding: 60px 20px;
		margin: 0 auto;
	}
	.about_us {
		order: 2;
		width: 100%;
		height: 1200px;
		display: flex;
		flex-direction: column;
		margin: 10% auto 0 auto;
	}
	.about_us_flex {
		text-align: center;
		flex: 50%;
		width: 100%;

	}
	.about_us_title {
		font-size: 60px;
		margin: 20px auto;
	}
	.about_us_title::after{
		margin: 16px auto;
	}
	.about_us_text {
		margin: 30px auto;
		font-size: 32px;
		width: 80%;
	}
	.about_us_img {	
		margin: 0 auto;
		order: 1;
		flex: 20%;
		width: 600px;	
		height: 600px;	
	}
	.html {
		width: 100%;
		height: 1300px;
		background: linear-gradient(263.45deg, #7201FC -2.24%, #FF4F4F 102.27%);
	}
	.html--flex{
		display: block;
	}
	.html_title {
		text-align: center;
		margin: 60px 0px 0px 0px;
		font-size: 60px;
	}
	.html_title::after{
		margin: 17px auto;
	}
	.html_text {
		text-align: center;
		width:80%;
		margin: 0 auto;
		font-size: 30px;
	}
	.html_btn {
		margin: 40px auto;
		position: relative;
		width: 250px;
		height: 70px;
		font-size: 35px;
		padding: 15px 30px;
		display: block;
		border-radius: 40px;
	}
	.block_html {
		width: 100%;
		height: 700px;
		clip-path: none;
	}
	.html_img {
		width: 100%;
		height: 50%;
		display: none;
	}
	.html_logo {
		width: 500px;
		height: 500px;
		margin: 78px 0px;
	}
	.html--container{
		margin: 0;
	}
	.preview_sub_text1 {
		font-size: 80px;
		margin: -230px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 800px;
		height: 105px;
		margin: 80px auto;
	}
	.preview_sub_text2 {
		font-size: 80px;
		margin: -45px 0px 0px 60px;
		color: #FFFFFF;
	}
}
@media(max-width: 950px){
	.cards{
		display: flex;
		height: 2250px;
		justify-content: center;
	}	
	.card--flex{
		display: block;
		width: 100%;
		margin: 0;
	}
	.nav_cards1,
	.nav_cards2,
	.nav_cards3 {
		margin: 5% 0;
		display: block;
		width: 600px;
		height: 700px;
		background: #FFFFFF;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		transition: 0.5s;
	}

	.container--cards{
		display: flex;
	}
	.cards_img {
		height: 50%;
	}
	.cards_title {
		padding: 1% 0px 2% 0px;
		font-size: 42px;
	}
	.cards_text {
		font-size: 28px;
		width: 90%;
	}
	.cards_btn {
		margin: 20px auto;
		width: 33%;
		height: 6vh;
		font-size: 33px;
		padding: 1.5% 1.5%;
	}
	.cards_btn_buy{
		width: 14%;
		padding: 1.5% 1.7%;
	}
	.card_prise1,
	.card_prise2 {
		margin: 20px 440px;
		font-size: 40px;
		padding: 8px 25px;
		width: 120px;
		height: 60px;
	}
	.card_prise2{
		padding: 8px 15px;
	}
	.preview_diagram {
		width: 70vw;
		position: relative;
		margin: 30px auto;
	}
	.preview {
		padding: 95px 0 0 0;
		width: 100%;
		height: 1100px;
	}
}

@media(max-width: 850px){
	.preview {
		padding: 95px 0 0 0;
		width: 100%;
		height: 900px;
		background: linear-gradient(92.66deg, #7000FF 0%, rgba(255, 0, 0, 0.69) 79.43%);
	}
	.preview_sub_text1 {
		font-size: 60px;
		margin: -140px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 600px;
		height: 80px;
		margin: 30px auto;
	}
	.preview_sub_text2 {
		font-size: 60px;
		margin: -30px 0px 0px 45px;
		color: #FFFFFF;
	}
	.preview_diagram {
		width: 70vw;
		position: relative;
		margin: 30px auto;
	}
	.html {
		height: 1400px;
	}
	.html_text {
		width:90%;
		margin: 0 auto;
		font-size: 30px;
	}
	.about_us_text {
		margin: 30px auto;
		font-size: 32px;
		width: 90%;
	}
}
@media(max-width: 650px){
	.cards{
		display: flex;
		height: 1600px;
		justify-content: center;
	}	
	.card--flex{
		display: block;
		width: 100%;
		margin: 0;
	}
	.nav_cards1,
	.nav_cards2,
	.nav_cards3 {
		margin: 5% 0;
		display: block;
		width: 400px;
		height: 500px;
		background: #FFFFFF;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		transition: 0.5s;
	}

	.container--cards{
		display: flex;
	}
	.cards_img {
		height: 50%;
	}
	.cards_title {
		padding: 1% 0px 2% 0px;
		font-size: 32px;
	}
	.cards_text {
		font-size: 20px;
		width: 90%;
	}
	.cards_btn {
		margin: 10px auto;
		width: 28%;
		height: 4vh;
		font-size: 18px;
		padding: 8px 7px;
	}
	.cards_btn_buy{
		width: 14%;
		padding: 8px 10px;
	}
	.card_prise1,
	.card_prise2 {
		margin: 10px 300px;
		font-size: 25px;
		padding: 8px 15px;
		width: 70px;
		height: 40px;
	}
	.card_prise2{
		padding: 8px;
	}
	.about_us_img {	
		margin: 0 auto;
		order: 1;
		flex: 10%;
		width: 400px;	
		height: 400px;	
	}
	.preview_btn {
		display: block;
		border-radius: 40px;
		width: 200px;
		height: 50px;
		font-size: 18px;
		margin: 20px auto;
		padding: 15px 10px;
	}
	.preview_prise {
		margin: 20px auto;
		width: 100px;
		height: 50px;
		border-radius: 40px;
		font-size: 30px;
		padding: 10px 15px;
	}
	.preview {
		height: 700px;
	}

	.preview_sub_text1 {
		font-size: 40px;
		margin: -100px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 400px;
		height: 60px;
		margin: 20px auto;
	}
	.preview_sub_text2 {
		font-size: 40px;
		margin: -20px 0px 0px 30px;
		color: #FFFFFF;
	}
	.search_header[id="search"]{
		display: none;
	}
	.header-left[id="heder-left"] {
		display: flex;
		margin: 3px 30px 0px 0px;
	}
}

@media(max-width: 590px){
	.footer {
		height: 450px;
	}
	.container--footer{
		display: block;
		padding: 3% 0px 0px 0px;
		text-align: center;
	}
	.title_sub_footer {
		font-size: 50px;
	}
	.url_sub_footer {
		padding-top: 2%;
		font-size: 30px;
	}
	.phone_footer{
		padding-top: 6%;
		font-size: 30px;
	}
	.email_footer {
		padding: 2% 0 10% 0;
		font-size: 30px;
	}
	.name_footer {
		width: 300px;
		height: 100px;
		font-size: 40px;
		color: #000000;
		padding: 30px 20px;
		margin: 0 auto;
	}
	.html {
		height: 1000px;
	}
	.html_text {
		width:90%;
		margin: 0 auto;
		font-size: 25px;
	}
	.html_logo {
		width: 300px;
		height: 300px;
		margin: 20px 0px;
	}
	.block_html {
		width: 100%;
		height: 350px;
		clip-path: none;
	}
	.burger_menu__nav{
		width: 100%;
	}
	.text_phrase {
		font-size: 19px;
	}
	.name_phrase {
		font-size: 20px;
	}
}
@media(max-width: 460px){
	.html {
		height: 1100px;
	}
	.about_us_img {	
		margin: 0 auto;
		order: 1;
		flex: none;
		width: 300px;	
		height: 300px;	
	}
	.about_us_title{
		font-size: 45px;
	}
	.about_us_text {
		margin: 10px auto;
		font-size: 25px;
		width: 90%;
	}
	.about_us{
		height: 900px;
	}
	.footer{
		height: 500px;
	}
	.cards{
		display: flex;
		height: 1100px;
		justify-content: center;
	}	
	.card--flex{
		display: block;
		width: 100%;
		margin: 0;
	}
	.nav_cards1,
	.nav_cards2,
	.nav_cards3 {
		margin: 5% 0;
		display: block;
		width: 250px;
		height: 350px;
	}
	.cards_img {
		height: 45%;
	}
	.cards_title {
		padding: 1% 0px 2% 0px;
		font-size: 25px;
	}
	.cards_text {
		font-size: 13px;
		width: 90%;
	}
	.cards_btn {
		margin: 10px auto;
		width: 28%;
		height: 3vh;
		font-size: 10px;
		padding: 8px 7px;
	}
	.cards_btn_buy{
		width: 14%;
		padding: 8px 7px;
	}
	.card_prise1,
	.card_prise2 {
		margin: 10px 180px;
		font-size: 15px;
		padding: 8px 12px;
		width: 50px;
		height: 3vh;
	}
	.card_prise2{
		padding: 8px;
	}
}

@media(max-width: 440px){
	.preview {
		height: 600px;
	}

	.preview_sub_text1 {
		font-size: 40px;
		margin: -90px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 350px;
		height: 50px;
		margin: 20px auto;
	}
	.preview_sub_text2 {
		font-size: 40px;
		margin: -20px 0px 0px 5px;
		color: #FFFFFF;
	}

	.search_header {
		order: 2;
		position: relative;
		left: 5vw;
		margin: 0 30px 0 0;
	}
	.header-left {
		display: flex;
		margin: 3px 0px 0px 0px;
		flex-direction: column;
		justify-content: end;
	}
	.burger_menu_btn[id="burger_btn"]{
		order: 1;
		position: relative;
		z-index: 30;
		width: 40px;
		height: 40px;
		top: 13px;
		right: 0;
		left: 85%;
	}
	.header-left__nav{
		display: grid;
	}
}
@media(max-width: 400px){
	.html {
		height: 1200px;
	}
}
@media(max-width: 380px){
	.preview {
		height: 500px;
	}

	.preview_sub_text1 {
		font-size: 25px;
		margin: -64px 0 0 0;
	}
	.preview_sub_div{
		display: flex;
		position: relative;
		justify-content: center;

	}
	.preview_sub_block {
		width: 250px;
		height: 40px;
		margin: 10px auto;
	}
	.preview_sub_text2 {
		font-size: 25px;
		margin: -13px 0px 0px 19px;
		color: #FFFFFF;
	}
	.preview_btn {
		width: 100px;
		height: 30px;
		font-size: 9px;
		margin: 10px auto;
		padding: 9px 4px;
	}
	.preview_prise {
		margin: 10px auto;
		width: 50px;
		height: 20px;
		font-size: 12px;
		padding: 3px 12px;
	}
	.about_us_img {	
		margin: 0 auto;
		order: 1;
		flex: none;
		width: 250px;	
		height: 250px;	
	}
	.footer {
		height: 330px;
	}
	.container--footer{
		display: block;
		padding: 3% 0px 0px 0px;
		text-align: center;
	}
	.title_sub_footer {
		font-size: 40px;
	}
	.url_sub_footer {
		padding-top: 2%;
		font-size: 25px;
	}
	.phone_footer{
		padding-top: 6%;
		font-size: 20px;
	}
	.email_footer {
		padding: 2% 0 10% 0;
		font-size: 20px;
	}
	.name_footer {
		width: 200px;
		height: 70px;
		font-size: 30px;
		color: #000000;
		padding: 20px 10px;
		margin: 0 auto;
	}
	.preview {
		height: 450px;
	}

	.html {
		height: 1000px;
	}
	.html_logo {
		width: 250px;
		height: 250px;
		margin: 20px 0px;
	}
	.block_html{
		height: 300px;
	}

	.html_text {
		width:90%;
		margin: 0 auto;
		font-size: 20px;
	}
	.about_us{
		height: 1000px;
	}
}
@media(max-width: 330px){
	.footer{
		height: 400px;
	}
}
@media(max-width: 320px){
	.about_us{
		height: 1050px;
	}
}
