body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/*main */
.header {
  display: block;
  width: 100%;
  background-image: url(../img/header.png);
  height: 900px;
  color: #fff;
}

.container--header {
  padding: 30px 0 0 0;
}

.menu {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  margin: 0 0 585px 0;
}

.menu_text {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  margin: 0 0 20px 0;
}

.menu_text a {
  color: #fff;
  transition: 0.5s;
}

.menu_text a:hover {
  color: #9e8686;
  transform: scale(1.05);
}

.menu_nav {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
}

.menu_nav a {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  padding: 13px 0;
  height: 47px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  transition: 0.5s;
}

.menu_nav a:last-child {
  border-right: 0px solid #ffffff;
}

.menu_nav a:hover {
  color: #9e8686;
}

.header_btn {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  width: 415px;
  margin: 0 auto;
  justify-content: space-between;
}

.header_btn a {
  width: 203px;
  height: 50px;
  background: #99862a;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  transition: 0.5s;
}

.header_btn a:last-child {
  padding: 15px 35px;
}

.header_btn a:hover {
  background: #4d451d;
  transform: scale(1.05);
}

/*header */
.text {
  width: 100%;
  height: 856px;
  background: #282828;
  color: #fff;
  padding: 100px 0;
}

.container--text {
  border: 3px solid #c4c4c4;
  height: 656px;
  text-align: center;
}

.text_title {
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  margin: 60px 0 0 0;
}

.text_title:after {
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  background-color: #fff;
  margin: 40px auto;
}

.text_description {
  width: 735px;
  margin: 0 auto 50px auto;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
}

.container--text img {
  transition: 0.5s;
}

.container--text img:hover {
  transform: scale(1.1);
}

/*text */
.collection {
  width: 100%;
  height: 1038px;
  background: #e6e3c4;
  display: block;
  padding: 80px 0;
}

.container--collection {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding: 60px 0;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  grid-gap: 0 125px;
}

.collection_text-up {
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0 30px 0;
}

.collection_text-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
}

.collection_text-title:after {
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  background: #282828;
  margin: 30px 0;
}

.collection_text-text {
  font-size: 14px;
  line-height: 150%;
  width: 445px;
  margin: 0px 0 30px 0;
}

.collection_text-table {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.collection_text-table--date div {
  display: grid;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 150%;
  border-bottom: 1px solid #282828;
  border-right: 1px solid #282828;
}

.collection_text-table--date div:last-child {
  border-bottom: 0px solid #282828;
}

.collection_text-table--text-item {
  width: 370px;
  height: 75px;
  border-bottom: 1px solid #282828;
  padding: 15px 30px;
}

.collection_text-table--text-item:last-child {
  border-bottom: 0px solid #282828;
}

.collection_text-table--text-item div:first-child {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.collection_text-description {
  width: 445px;
  margin: 30px 0 45px 0;
  line-height: 150%;
}

.collection_text-btn {
  width: 255px;
  height: 50px;
  background: #99862a;
  padding: 15px 18px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  transition: 0.5s;
}

.collection_text-btn:hover {
  background: #4d451d;
}

.collection_slider {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 30px 0;
}

.collection_slider-second {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0 30px;
}

.collection_slider img {
  transition: 0.5s;
}

.collection_slider img:hover {
  transform: scale(1.1);
}

/*collection */
.form {
  width: 100%;
  height: 767px;
  background: #282828;
  padding: 130px 0;
}

.container--form {
  border: 3px solid #c4c4c4;
  height: 538px;
  position: relative;
  color: #fff;
}

.container--form img {
  position: absolute;
  margin: -70px -30px;
}

.form_img-2 {
  right: 0;
}

.form_title {
  display: block;
  margin: -30px auto;
  text-align: center;
  width: 490px;
  height: 74px;
  background: #282828;
}

.form_title:after {
  display: block;
  content: "";
  width: 118px;
  height: 1px;
  background-color: #fff;
  margin: 40px auto;
}

.form_title div {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.form_text {
  margin: 105px auto 60px auto;
  width: 539px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.form_input-grid {
  width: 540px;
  margin: 0 auto;
}

.form_input-grid div {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.form_input-grid input {
  background: #282828;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

.form_input-grid div input {
  width: 255px;
}

.form_input-grid input::placeholder {
  color: #fff;
}

.form_input-item-3 {
  width: 100%;
  margin: 40px 0 50px 0;
}

.form_btn {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ffffff;
  width: 540px;
  height: 50px;
  padding: 15px 30px;
  transition: 0.5s;
}

.form_btn:hover {
  background-color: #dad8d8;
  color: #282828;
}

/*form */
.footer {
  width: 100%;
  height: 220px;
  background: #998431;
  padding: 50px 0;
}

.container--footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 120px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer_menu {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  justify-content: space-evenly;
  border-bottom: 1px solid #ffffff;
}

.footer_menu a {
  color: #fff;
  margin: 20px 0;
  transition: 0.5s;
}

.footer_menu a:hover {
  color: #5e5e5e;
}

.footer_div {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

.footer_div a:hover {
  color: #5e5e5e;
}

.footer_div-title {
  width: 350px;
  height: 60px;
  border-right: 1px solid #ffffff;
  padding: 20px 20%;
}

.footer_div-title a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s;
}

.footer_div-num {
  width: 235px;
  height: 60px;
  border-right: 1px solid #ffffff;
  padding: 20px 0px 0 65px;
}

.footer_div-num a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
}

.footer_div-contacts {
  width: 260px;
  height: 60px;
  border-right: 1px solid #ffffff;
  padding: 20px 0px 0 65px;
}

.footer_div-contacts img {
  margin: 0 30px 0 0;
  transition: 0.5s;
}

.footer_div-contacts img:hover {
  transform: scale(1.1);
}

.footer_div-url {
  height: 60px;
  padding: 20px 0;
}

.footer_div-url a {
  margin: 0px 60px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
  font-weight: 500;
}

/*footer */

/*# sourceMappingURL=style.css.map */
